/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 *
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding: 2%;
	border-radius: 10%;
	padding-bottom:8%; /* Height of the footer element */
	width:32%;
	font-size: 89%;
	height: 20%;
	color:white;
	background-color: #ca5151;
  position:absolute;
	right:10%;
	top:20%;
}
#news
{
	font-size: 100%;
}
#footer {
	background:#ffab62;
	width:100%;
	height:8%;
	position:absolute;
	bottom:0;
	left:0;
	background:#26292e;
    min-height: 40px;
    color:#fff;
    text-align:center;
    font-size: 11px;
    line-height: 1.3;
    padding-top: 5px;
}
button {
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     display: inline;
     border-bottom:1px solid #444; 
     cursor: pointer;
}
